USE [master]
GO
/****** Object:  Database [TuanTruongDB]    Script Date: 20/05/2026 1:57:21 PM ******/
CREATE DATABASE [TuanTruongDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TuanTruongDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TuanTruongDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TuanTruongDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TuanTruongDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TuanTruongDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TuanTruongDB]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 20/05/2026 1:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[maBan] [varchar](20) NOT NULL,
	[soChoNgoi] [int] NULL,
	[trangThai] [nvarchar](50) NULL,
	[viTri] [nvarchar](100) NULL,
	[tenBan] [nvarchar](50) NULL,
	[maKhoi] [int] NULL,
	[maBanChinh] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BangGia]    Script Date: 20/05/2026 1:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangGia](
	[maBangGia] [varchar](20) NOT NULL,
	[moTa] [nvarchar](255) NULL,
	[ngayBatDau] [date] NULL,
	[ngayKetThuc] [date] NULL,
	[trangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maBangGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBangGia]    Script Date: 20/05/2026 1:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBangGia](
	[maBangGia] [varchar](20) NOT NULL,
	[maMon] [varchar](20) NOT NULL,
	[giaBan] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maBangGia] ASC,
	[maMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDatBan]    Script Date: 20/05/2026 1:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatBan](
	[maDon] [varchar](20) NOT NULL,
	[maBan] [varchar](20) NOT NULL,
	[soLuongKhach] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDon] ASC,
	[maBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDatMon]    Script Date: 20/05/2026 1:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDatMon](
	[maDonDat] [varchar](20) NOT NULL,
	[maMon] [varchar](20) NOT NULL,
	[soLuong] [int] NULL,
	[donGia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonDat] ASC,
	[maMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 20/05/2026 1:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHD] [varchar](20) NOT NULL,
	[maMon] [varchar](20) NOT NULL,
	[soLuong] [int] NULL,
	[thanhTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatBan]    Script Date: 20/05/2026 1:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatBan](
	[maDon] [varchar](20) NOT NULL,
	[ngayDat] [date] NULL,
	[thoiGian] [datetime] NULL,
	[maKhachHang] [varchar](20) NULL,
	[maNV] [varchar](20) NULL,
	[trangThai] [nvarchar](50) NULL,
	[ghiChu] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatMon]    Script Date: 20/05/2026 1:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatMon](
	[maDonDat] [varchar](20) NOT NULL,
	[thoiGianDat] [datetime] NULL,
	[ghiChu] [nvarchar](255) NULL,
	[maNV] [varchar](20) NULL,
	[maBan] [nvarchar](20) NULL,
	[maKhachHang] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDonDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 20/05/2026 1:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [varchar](20) NOT NULL,
	[ngayLap] [datetime] NULL,
	[maKM] [varchar](20) NULL,
	[maNV] [varchar](20) NULL,
	[maBan] [varchar](20) NULL,
	[phuongThucTT] [nvarchar](50) NULL,
	[tongThanhTien] [float] NULL,
	[maKhachHang] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 20/05/2026 1:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [varchar](20) NOT NULL,
	[hoTen] [nvarchar](100) NULL,
	[soDienThoai] [varchar](15) NULL,
	[tongChiTieu] [decimal](18, 0) NULL,
	[hangThanhVien] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 20/05/2026 1:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[maKM] [varchar](20) NOT NULL,
	[tenKM] [nvarchar](100) NULL,
	[loaiKM] [nvarchar](50) NULL,
	[giaTri] [float] NULL,
	[ngayBatDau] [date] NULL,
	[ngayKetThuc] [date] NULL,
	[doiTuongApDung] [nvarchar](100) NULL,
	[trangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 20/05/2026 1:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[maMon] [varchar](20) NOT NULL,
	[tenMon] [nvarchar](100) NULL,
	[donViTinh] [nvarchar](20) NULL,
	[trangThai] [nvarchar](50) NULL,
	[loaiMon] [nvarchar](50) NULL,
	[hinhAnh] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 20/05/2026 1:57:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [varchar](20) NOT NULL,
	[hoTen] [nvarchar](100) NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [nvarchar](10) NULL,
	[luong] [float] NULL,
	[matKhau] [varchar](255) NULL,
	[chucVu] [nvarchar](50) NULL,
	[gmail] [varchar](100) NULL,
	[trangThai] [nvarchar](50) NULL,
	[soDienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ban] ([maBan], [soChoNgoi], [trangThai], [viTri], [tenBan], [maKhoi], [maBanChinh]) VALUES (N'B001', 2, N'Trống', N'Tầng 1', N'Bàn T1-01', NULL, NULL)
INSERT [dbo].[Ban] ([maBan], [soChoNgoi], [trangThai], [viTri], [tenBan], [maKhoi], [maBanChinh]) VALUES (N'B002', 4, N'Trống', N'Tầng 1', N'Bàn T1-02', NULL, NULL)
INSERT [dbo].[Ban] ([maBan], [soChoNgoi], [trangThai], [viTri], [tenBan], [maKhoi], [maBanChinh]) VALUES (N'B003', 4, N'Trống', N'Tầng 1', N'Bàn T1-03', NULL, NULL)
GO
INSERT [dbo].[BangGia] ([maBangGia], [moTa], [ngayBatDau], [ngayKetThuc], [trangThai]) VALUES (N'BG001', N'Bảng giá tháng 04', CAST(N'2026-04-12' AS Date), CAST(N'2026-06-12' AS Date), N'Đang áp dụng')
GO
INSERT [dbo].[ChiTietBangGia] ([maBangGia], [maMon], [giaBan]) VALUES (N'BG001', N'M002', 85000)
INSERT [dbo].[ChiTietBangGia] ([maBangGia], [maMon], [giaBan]) VALUES (N'BG001', N'M004', 250000)
INSERT [dbo].[ChiTietBangGia] ([maBangGia], [maMon], [giaBan]) VALUES (N'BG001', N'M005', 5000)
GO
INSERT [dbo].[ChiTietDatBan] ([maDon], [maBan], [soLuongKhach]) VALUES (N'D001', N'B012', 4)
INSERT [dbo].[ChiTietDatBan] ([maDon], [maBan], [soLuongKhach]) VALUES (N'D002', N'B060', 5)
INSERT [dbo].[ChiTietDatBan] ([maDon], [maBan], [soLuongKhach]) VALUES (N'D003', N'B012', 4)
GO
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maMon], [soLuong], [thanhTien]) VALUES (N'HD001', N'M004', 2, 200000)
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maMon], [soLuong], [thanhTien]) VALUES (N'HD001', N'M005', 2, 10000)
INSERT [dbo].[ChiTietHoaDon] ([maHD], [maMon], [soLuong], [thanhTien]) VALUES (N'HD001', N'M006', 2, 40000)
GO
INSERT [dbo].[DonDatBan] ([maDon], [ngayDat], [thoiGian], [maKhachHang], [maNV], [trangThai], [ghiChu]) VALUES (N'D001', CAST(N'2026-05-12' AS Date), CAST(N'2026-05-12T14:00:00.000' AS DateTime), N'KH001', N'NV007', N'Đã hủy', N'')
INSERT [dbo].[DonDatBan] ([maDon], [ngayDat], [thoiGian], [maKhachHang], [maNV], [trangThai], [ghiChu]) VALUES (N'D002', CAST(N'2026-05-12' AS Date), CAST(N'2026-05-12T14:30:00.000' AS DateTime), N'KH002', N'NV007', N'Đã hủy', N'')
INSERT [dbo].[DonDatBan] ([maDon], [ngayDat], [thoiGian], [maKhachHang], [maNV], [trangThai], [ghiChu]) VALUES (N'D003', CAST(N'2026-05-12' AS Date), CAST(N'2026-05-12T16:00:00.000' AS DateTime), N'KH003', N'NV007', N'Đã hủy', N'')
GO
INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [maKM], [maNV], [maBan], [phuongThucTT], [tongThanhTien], [maKhachHang]) VALUES (N'HD001', CAST(N'2026-04-17T20:05:14.513' AS DateTime), NULL, N'NV009', N'B015', N'Tiền mặt', 248400, NULL)
INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [maKM], [maNV], [maBan], [phuongThucTT], [tongThanhTien], [maKhachHang]) VALUES (N'HD002', CAST(N'2026-04-17T20:15:50.270' AS DateTime), NULL, N'NV009', N'B013', N'Chuyển khoản (Mã QR)', 313200, NULL)
INSERT [dbo].[HoaDon] ([maHD], [ngayLap], [maKM], [maNV], [maBan], [phuongThucTT], [tongThanhTien], [maKhachHang]) VALUES (N'HD003', CAST(N'2026-04-17T20:58:22.870' AS DateTime), NULL, N'NV009', N'B015', N'Tiền mặt', 448200, NULL)
GO
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [soDienThoai], [tongChiTieu], [hangThanhVien]) VALUES (N'KH001', N'NguyenVanA', N'0123456789', CAST(280800 AS Decimal(18, 0)), N'Bạc')
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [soDienThoai], [tongChiTieu], [hangThanhVien]) VALUES (N'KH002', N'phanphungvu', N'0899125230', CAST(0 AS Decimal(18, 0)), N'Bạc')
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [soDienThoai], [tongChiTieu], [hangThanhVien]) VALUES (N'KH003', N'AnhPhan', N'0999999999', CAST(0 AS Decimal(18, 0)), N'Bạc')
GO
INSERT [dbo].[KhuyenMai] ([maKM], [tenKM], [loaiKM], [giaTri], [ngayBatDau], [ngayKetThuc], [doiTuongApDung], [trangThai]) VALUES (N'KM001', N'Giảm giá món sườn (Sườn nướng)', N'Giảm phần trăm', 10, CAST(N'2026-04-17' AS Date), CAST(N'2027-04-17' AS Date), N'Khách dùng món', N'Đang chạy')
INSERT [dbo].[KhuyenMai] ([maKM], [tenKM], [loaiKM], [giaTri], [ngayBatDau], [ngayKetThuc], [doiTuongApDung], [trangThai]) VALUES (N'KM002', N'Hè rực cháy', N'Giảm phần trăm', 5, CAST(N'2026-04-17' AS Date), CAST(N'2027-04-17' AS Date), N'Tất cả khách hàng', N'Đang chạy')
INSERT [dbo].[KhuyenMai] ([maKM], [tenKM], [loaiKM], [giaTri], [ngayBatDau], [ngayKetThuc], [doiTuongApDung], [trangThai]) VALUES (N'KM003', N'Giờ trưa linh đình', N'Giảm giá', 50000, CAST(N'2026-04-17' AS Date), CAST(N'2027-04-17' AS Date), N'Khách dùng bữa trưa', N'Đang chạy')
GO
INSERT [dbo].[MonAn] ([maMon], [tenMon], [donViTinh], [trangThai], [loaiMon], [hinhAnh]) VALUES (N'M002', N'Sườn nướng', N'Phần', N'Đang bán', N'Món chính', N'C:\Users\Admin\Documents\MonAn\bbqRibs.jpg')
INSERT [dbo].[MonAn] ([maMon], [tenMon], [donViTinh], [trangThai], [loaiMon], [hinhAnh]) VALUES (N'M004', N'Rượu vang', N'Phần', N'Đang bán', N'Khai vị', N'C:\Users\Admin\Documents\MonAn\vangPhap.jpg')
INSERT [dbo].[MonAn] ([maMon], [tenMon], [donViTinh], [trangThai], [loaiMon], [hinhAnh]) VALUES (N'M005', N'Nước suối', N'Chai', N'Đang bán', N'Món nước', N'C:\Users\Admin\Documents\MonAn\water.jpg')
GO
INSERT [dbo].[NhanVien] ([maNV], [hoTen], [ngaySinh], [gioiTinh], [luong], [matKhau], [chucVu], [gmail], [trangThai], [soDienThoai]) VALUES (N'NV001', N'Khánh an', CAST(N'2000-01-01' AS Date), N'Nam', 5000000, N'vu123', N'Nhân viên lễ tân', N'asddf@gmail.com', N'Nghỉ việc', N'0899125234')
INSERT [dbo].[NhanVien] ([maNV], [hoTen], [ngaySinh], [gioiTinh], [luong], [matKhau], [chucVu], [gmail], [trangThai], [soDienThoai]) VALUES (N'NV002', N'dsfakljfhjkds', CAST(N'2000-01-01' AS Date), N'Nam', 5000000, N'ds1223', N'Nhân viên lễ tân', N'hádjkfjlhadslhjkfasdkj@gmail.com', N'Nghỉ việc', N'Chua Cap Nhat')
INSERT [dbo].[NhanVien] ([maNV], [hoTen], [ngaySinh], [gioiTinh], [luong], [matKhau], [chucVu], [gmail], [trangThai], [soDienThoai]) VALUES (N'NV003', N'Bùi Minh Tuấn', CAST(N'2000-01-01' AS Date), N'Nam', 5000000, N'vu123', N'Nhân viên lễ tân', N'dklhjafhkj@gmail.com', N'Đang làm', N'0931711378')
GO
ALTER TABLE [dbo].[DonDatBan] ADD  DEFAULT (N'Đang chờ') FOR [trangThai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [tongChiTieu]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (N'Bạc') FOR [hangThanhVien]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'Đang làm') FOR [trangThai]
GO
ALTER TABLE [dbo].[ChiTietBangGia]  WITH CHECK ADD FOREIGN KEY([maBangGia])
REFERENCES [dbo].[BangGia] ([maBangGia])
GO
ALTER TABLE [dbo].[ChiTietBangGia]  WITH CHECK ADD FOREIGN KEY([maMon])
REFERENCES [dbo].[MonAn] ([maMon])
GO
ALTER TABLE [dbo].[ChiTietDatBan]  WITH CHECK ADD FOREIGN KEY([maBan])
REFERENCES [dbo].[Ban] ([maBan])
GO
ALTER TABLE [dbo].[ChiTietDatBan]  WITH CHECK ADD FOREIGN KEY([maDon])
REFERENCES [dbo].[DonDatBan] ([maDon])
GO
ALTER TABLE [dbo].[ChiTietDatMon]  WITH CHECK ADD FOREIGN KEY([maDonDat])
REFERENCES [dbo].[DonDatMon] ([maDonDat])
GO
ALTER TABLE [dbo].[ChiTietDatMon]  WITH CHECK ADD FOREIGN KEY([maMon])
REFERENCES [dbo].[MonAn] ([maMon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([maMon])
REFERENCES [dbo].[MonAn] ([maMon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[DonDatBan]  WITH CHECK ADD FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[DonDatBan]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[DonDatMon]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[DonDatMon]  WITH CHECK ADD  CONSTRAINT [FK_DonDatMon_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[DonDatMon] CHECK CONSTRAINT [FK_DonDatMon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maBan])
REFERENCES [dbo].[Ban] ([maBan])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maKM])
REFERENCES [dbo].[KhuyenMai] ([maKM])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
USE [master]
GO
